

*{user-select: none;

color: white;

}

#cookie {
    
    width: 100%;
    width: 400px;
height: 250px;
    

}
#cookie:hover{
    width: 450px;
    height: 300px;
    transition: 0.5s ease;
}

    
.kontejner{
text-align: center;}
    
body{background-size: cover;
    background-image: url(../img/pozadi.jpeg)
    ;
    background-attachment: fixed;
   
    
}

.center{text-align: center;
margin-top: 7%;}
#counter{font-family: 'Kalam', cursive;
font-size: xx-large;}

#clickupgrade {
    font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(134, 133, 216);
   border: none;
   color: black;
}




#clickupgrade2{
    font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(134, 133, 216);
    border: none;
    color: black;
    
}
h1{font-family: 'Kalam', cursive;
text-align: center;
color: white;}
#clickupgrade3{
    font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(134, 133, 216);
    border: none;
    color: black;
}
#autoclickbutton1{font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(134, 133, 216);
    border: none;
    color: black;
}
#autoclickbutton2{font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(134, 133, 216);
    border: none;
    color: black;}

    .upgradeImg{
   
    
      height: auto;
      width: auto;
    }

  
    


button{
max-width: 500px;

}
.radek{
font-size: auto;

display: flex;
flex-direction: row;
width: 500px;
margin: auto;
height: 100px;
margin-top: 50px;
border: 1px black solid;
background-color: rgb(134, 133, 216);
margin-bottom: 20px;
}

#radek1{font-size: auto;

    display: flex;
    flex-direction: row;
    width: 500px;
    margin: auto;
    height: 100px;
    margin-top: 50px;
    border: 1px black solid;
    background-color: rgb(134, 133, 216);
    margin-bottom: 20px;}

    #radek1:hover{
        height: 150px;
        width: 550px;
       
    transition: 0.5s ease;}

    #radek1, #radek2, #radek3, #radek4{font-size: auto;

        display: flex;
        flex-direction: row;
        width: 500px;
        margin: auto;
        height: 100px;
        margin-top: 50px;
        border: 1px black solid;
        background-color: rgb(134, 133, 216);
        margin-bottom: 20px;
        cursor: url(../img/cursor.png), auto;
    
        #radek1:hover{
            height: 150px;
            width: 550px;
           
        transition: 0.5s ease;}
        #radek2:hover{
            height: 150px;
            width: 550px;
           
        transition: 0.5s ease;}
        #radek3:hover{
            height: 150px;
            width: 550px;
           
        transition: 0.5s ease;}
        #radek4:hover{
            height: 150px;
            width: 550px;
           
        transition: 0.5s ease;}
        