

*{user-select: none;}

#cookie {
    
    width: 100%;
    width: 400px;
transition: .3s ease ;
    

    

    
}
html{background-image: url(../img/download\ \(9\).jpg)
    ;
background-size: cover;


}

.center{text-align: center;
margin-top: 7%;}
#counter{font-family: 'Kalam', cursive;
font-size: xx-large;}

#clickupgrade {
    font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(110, 51, 165);
}

#clickupgrade2{
    font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(110, 51, 165);
}
h1{font-family: 'Kalam', cursive;
text-align: center;}
#clickupgrade3{
    font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(110, 51, 165);
}
#autoclickbutton1{font-family: 'Kalam', cursive;
    padding: 1em;
    font-size: x-large;
    background-color: rgb(110, 51, 165);}

    .upgradeImg{
        max-width: 80px;
        width: 100%;
    }

    #clickupgradeWrapper{border: 10px soid black;
    display: flex;
width: 50%;
;}


